<p id="notice"><%= notice %></p>

<h1>Imageboards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imageboards.each do |imageboard| %>
      <tr>
        <td><%= imageboard.name %></td>
        <td><%= link_to 'Show', imageboard %></td>
        <td><%= link_to 'Edit', edit_imageboard_path(imageboard) %></td>
        <td><%= link_to 'Destroy', imageboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imageboard', new_imageboard_path %>
